.venv
__pycache__
.env
.pytest_cache
.tox
.coverage
.pytest_cache
.mypy_cache
.ipynb_checkpoints
.nox
.eggs
.build
.dub
.fuse_hidden*
.pydevproject
.project
.settings
.classpath
.DS_Store
.tmplog
.tmppy
.tmptxt
.tmppyc
.tmppyw
.tmp